{% extends "gestion/base.html" %}
{% load static from static %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cursos</h1>
        <a href="{% url 'grados-list' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-sync-alt fa-sm text-white-50"></i>
            Regresar
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <form method="post">{% csrf_token %}
            <p> Seguro de borrar el "{{ object }}"?</p>
            {{ form }}
            <input type="submit" value="Aceptar">
        </form>

    </div>

</div>
{% endblock %}