<!DOCTYPE HTML>
<html lang="es">
{% load static %}
	<head>
		<title>FitTechnology</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Solid State</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Inicio</a></li>
								<li><a href="#">Generic</a></li>
								<li><a href="#">Elements</a></li>
								{% if user.is_authenticated %}
									<li><a href="{% url 'gestion-index' %}">Gestión</a></li>
									<li><a href="{% url 'logout' %}">Salir</a></li>
								{% else %}
									<li><a href="{% url 'login' %}">Ingresar</a></li>
								{% endif %}

							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>FitTechnology</h2>
							<p>Cuerpo sano - Mente sana</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'home/images/alimentos-saludables.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Alimentos sanos para ti</h2>
										<p>Comer más alimentos ricos en nutrientes, como aquellos con muchas vitaminas, minerales y fibra</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'home/images/ejercicio-saludable.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Rutina de ejercicios</h2>
										<p>El ejercicio previene problemas de salud, fortalece, aumenta la energía y puede ayudarlo a reducir el estrés</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'home/images/ejercicios-meditacion.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Mente sana</h2>
										<p>La estabilidad emocional hace que las personas sean capaces de controlar sus actitudes y mantenerse equilibrados ante situaciones difíciles</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Actualidad</h2>
									<p>Conoce las últimas noticias y videos sobre salud, bienestar, nutrición y enfermedades</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="{% static 'home/images/pic04.jpg' %}" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'home/images/pic05.jpg' %}" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'home/images/pic06.jpg' %}" alt="" /></a>
											<h3 class="major">Ante fermentum</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'home/images/pic07.jpg' %}" alt="" /></a>
											<h3 class="major">Fusce consequat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Tienes preguntas</h2>
							<p>Comunícate con nosotros</p>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Nombre</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Mensaje</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Enviar Mensaje" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Colegio Melvin Jones<br />
									Carrera 1#5-19<br />
									Lomas de cartagena
								</li>
								<li class="icon solid fa-phone">(057) 123-456789</li>
								<li class="icon solid fa-envelope"><a href="#">salud@melvinjones.edu.co</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; FitTechnology</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'home/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'home/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'home/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'home/assets/js/util.js' %}"></script>
			<script src="{% static 'home/assets/js/main.js' %}"></script>

	</body>
</html>